PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/blogging_platform
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
ACCESS_TOKEN_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=7d
COOKIE_SECURE=false
NODE_ENV=development
